<template>
  <div style="margin: 10px">
    <b-modal
      id="modal-form-student"
      size="lg"
      scrollable=""
      ref="modal-form-student"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="name"
            size="sm"
            v-model="form.name"
            :disabled="show_sts"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Gender:"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            size="sm"
            v-model="form.gender"
            :options="genderOptions"
            :disabled="show_sts"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="Age"
          label-for="age"
          :invalid-feedback="invalidFeedbackAge"
          :valid-feedback="validFeedbackAge"
          :state="stateAge"
        >
          <b-form-input
            id="age"
            size="sm"
            type="number"
            min="1"
            max="99"
            v-model="form.age"
            :disabled="show_sts"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Email"
          label-for="email"
          :invalid-feedback="invalidFeedbackEmail"
          :valid-feedback="validFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input
            id="email"
            size="sm"
            type="email"
            v-model="form.email"
            :disabled="show_sts"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Password"
          label-for="passwd"
          :invalid-feedback="invalidFeedbackPasswd"
          :valid-feedback="validFeedbackPasswd"
          :state="statePasswd"
        >
          <b-form-input
            id="passwd"
            size="sm"
            v-model="form.passwd"
            :disabled="show_sts"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Tels"
          label-for="tels"
          :invalid-feedback="invalidFeedbackTels"
          :valid-feedback="validFeedbackTels"
          :state="stateTels"
        >
          <b-form-input
            id="tels"
            size="sm"
            pattern="[0-9]+"
            minlength="10"
            maxlength="10"
            v-model="form.tels"
            :disabled="show_sts"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Bdate"
          label-for="bdate"
          :invalid-feedback="invalidFeedbackBdate"
          :valid-feedback="validFeedbackBdate"
          :state="stateBdate"
        >
          <b-form-input
            id="bdate"
            type="date"
            size="sm"
            v-model="form.bdate"
            :disabled="show_sts"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="address"
          label-for="address"
          :invalid-feedback="invalidFeedbackAddress"
          :valid-feedback="validFeedbackAddress"
          :state="stateAddress"
        >
          <b-form-textarea
            id="address"
            size="sm"
            v-model="form.address"
            rows="3"
            max-rows="6"
            :disabled="show_sts"
          ></b-form-textarea>
        </b-form-group>
      </form>
    </b-modal>

    <b-container class="bv-example-row">
      <b-row>
        <b-col
          ><template>
            <div>
              <b-input-group>
                <b-form-input
                  v-model="search"
                  placeholder="Search"
                ></b-form-input>
                <b-input-group-append>
                  <b-button variant="outline-success" @click="searchStudent()"
                    >Search</b-button
                  >
                  <b-button
                    variant="outline-warning"
                    @click="clearSearchStudent()"
                    >Clear</b-button
                  >
                </b-input-group-append></b-input-group
              >
            </div>
          </template></b-col
        >
      </b-row>
    </b-container>
    <!-- <b-form-input v-model="search" placeholder="Search"></b-form-input> -->
    <div v-if="haveresult">
      <b-table striped hover :items="studentList" :fields="fields">
        <template v-slot:cell(operation)="data">
          <b-button @click="showStudent(data.item)">Show</b-button>
          &nbsp;
          <b-button variant="warning" @click="editStudent(data.item)"
            >Edit</b-button
          >
        </template>
      </b-table>
    </div>
    <div v-else><h3>No Result</h3></div>
  </div>
</template>

<script>
// import studentService from './StudentService'
import axios from 'axios'
export default {
  data () {
    return {
      title: 'Add new student',
      haveresult: true,
      say_sts: true,
      show_sts: false,
      search: null,
      form: {
        _id: '',
        type: 'student',
        std_id: '',
        name: '',
        gender: null,
        age: null,
        email: '',
        passwd: '',
        tels: '',
        bdate: null,
        address: ''
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'Male' },
        { value: 'F', text: 'Female' }
      ],
      studentList: [],
      fields: [
        { key: '_id', label: '#' },
        { key: 'std_id', label: 'ID' },
        { key: 'name', label: 'Full Name' },
        { key: 'type', label: 'Type' },
        'Operation'
      ]
    }
  },
  methods: {
    addNewStudent () {
      this.$bvModal.show('modal-form-student')
      this.show_sts = false
    },
    editStudent (student) {
      this.title = 'Edit Your Information'
      this.show_sts = false
      this.form = { ...student }
      let date = new Date(this.form.bdate)
      this.form.bdate = date.toISOString().substring(0, 10)
      this.$bvModal.show('modal-form-student')
    },
    showStudent (student) {
      this.title = 'Show Your Information'
      this.show_sts = true
      this.form = { ...student }
      let date = new Date(this.form.bdate)
      this.form.bdate = date.toISOString().substring(0, 10)
      this.$bvModal.show('modal-form-student')
    },
    getStudents () {
      axios
        .get('http://localhost:3000/students')
        .then(res => {
          this.studentList = []
          const list = res.data
          for (let i = 0; i < list.length; i++) {
            console.log(list[i])
            this.studentList.push(list[i])
          }
          // this.studentList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    searchStudent () {
      axios
        .get('http://localhost:3000/students/' + this.search)
        .then(res => {
          console.log(res)
          this.studentList = []
          this.studentList.push(res.data)
          this.haveresult = true
          console.log(this.haveresult)
          this.search = null
        })
        .catch(err => {
          console.log(err)
          this.search = null
          this.haveresult = false
        })
    },
    clearSearchStudent () {
      this.search = null
      if (this.haveresult === false) {
        this.haveresult = true
      }
      this.getStudents()
    },
    resetModal () {
      this.form = {
        _id: '',
        std_id: '',
        type: 'student',
        name: '',
        gender: null,
        age: null,
        email: '',
        passwd: '',
        tels: '',
        bdate: null,
        address: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      if (
        this.stateName === false ||
        this.stateGender === false ||
        this.stateAge === false ||
        this.stateEmail === false ||
        this.statePasswd === false ||
        this.stateTels === false ||
        this.stateBdate === false ||
        this.stateAddress === false
      ) {
        return
      }
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/students', this.form)
          .then(res => {
            console.log(res)
            this.getStudents()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        // studentService.addStudent(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/students', this.form)
          .then(res => {
            console.log(res)
            this.getStudents()
          })
          .catch(err => {
            console.log(err)
          })
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-student')
      })
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'Enter at least 2 characters'
      } else {
        return 'Please enter something'
      }
    },
    validFeedbackName () {
      return this.stateGender === true ? 'Success' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'Please choose your gender.'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'Success' : ''
    },
    stateAge () {
      return this.form.age >= 1 && this.form.age <= 99
    },
    invalidFeedbackAge () {
      if (this.form.age >= 1 && this.form.age <= 99) {
        return ''
      } else if (this.form.age == null) {
        return 'Please enter something'
      } else {
        return 'Enter age more than 1 and less than 99'
      }
    },
    validFeedbackAge () {
      return this.stateAge === true ? 'Success' : ''
    },
    stateEmail () {
      return /^\w+([\\.-]?\w+)*@\w+([\\.-]?\w+)*(\.\w{2,3})+$/.test(
        this.form.email
      )
    },
    invalidFeedbackEmail () {
      if (
        /^\w+([\\.-]?\w+)*@\w+([\\.-]?\w+)*(\.\w{2,3})+$/.test(this.form.email)
      ) {
        return ''
      } else if (this.form.email == null) {
        return 'Please enter your email.'
      } else {
        return 'Please enter your email correctly.'
      }
    },
    validFeedbackEmail () {
      return this.stateEmail === true ? 'Success' : ''
    },
    statePasswd () {
      return /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/.test(this.form.passwd)
    },
    invalidFeedbackPasswd () {
      if (/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/.test(this.form.passwd)) {
        return ''
      } else if (this.form.passwd == null) {
        return 'Please enter something'
      } else {
        return '6 to 20 characters which contain at least 1 numeric digit, 1 uppercase and 1 lowercase letter'
      }
    },
    validFeedbackPasswd () {
      return this.statePasswd === true ? 'Success' : ''
    },
    stateTels () {
      return /^\d{10}$/.test(this.form.tels)
    },
    invalidFeedbackTels () {
      if (/^\d{10}$/.test(this.form.tels)) {
        return ''
      } else if (this.form.tels == null) {
        return 'Please enter something'
      } else {
        return 'Enter at least 9 characters or 10 characters'
      }
    },
    validFeedbackTels () {
      return this.stateTels === true ? 'Success' : ''
    },
    stateBdate () {
      return this.form.bdate != null
    },
    invalidFeedbackBdate () {
      if (this.form.bdate != null) {
        return ''
      } else {
        return 'Please choose your birthdate.'
      }
    },
    validFeedbackBdate () {
      return this.stateBdate === true ? 'Success' : ''
    },
    stateAddress () {
      return this.form.address.length <= 255
    },
    invalidFeedbackAddress () {
      if (this.form.address.length <= 255) {
        return ''
      } else {
        return 'Please enter your address less than 255 characters.'
      }
    },
    validFeedbackAddress () {
      return this.stateAddress === true ? 'Success' : ''
    }
  },
  mounted () {
    this.getStudents()
  }
}
</script>
